<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<form method="post">
    {{groupnewform.hidden_tag()}}
    小组名：<input type="text" name="name">
    小组类型：
    <select name="type">
        <option value="0">其他</option>
        <option value="1">课程</option>
        <option value="2">活动</option>
    </select>
    <img id="identifyingcode_img" src="#"/>
    验证码：<input name="code" style="text-transform: uppercase">
    <input type="submit">
</form>
</body>
<script>
    window.onload = function () {
        var data = {};
        var csrftoken = "{{csrf_token()|safe}}";
        $.ajax({
            type: 'POST',
            url: "/ajax/" + "getIdentifyingcode",
            data: data,
            dataType: 'json',
            beforeSend: function(xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                $('#identifyingcode_img').attr('src',data.code_uri);
            },
            error: function (xhr, type) {
            }
        });
    };
</script>
</html>