{% extends "mobile.base.html" %}

{% block head %}
<script src="/static/mobile/ChartJS/Chart.bundle.min.js"></script>
<title>Biosign Mobile首页</title>
{% endblock %}


{% block content %}


<div data-role="main" class="ui-content">
    <div class="ui-grid-solo">
        <div class="ui_block-a">
            <div data-role="collapsible" data-collapsed="false">
                <h1>基本信息</h1>
                <p>用户名:{{signer.name}}</p>
                <p>邮箱:{{signer.email}}</p>
            </div>
        </div>
        <div class="ui_block-a">
            <div data-role="collapsible" data-collapsed="false">
                <h1>出勤概况</h1>
                <canvas id="canvas_rate" width="100%" height="60%"></canvas>
                <br>
                <h2>出勤的活动</h2>
                <ul data-role="listview" data-inset="true">
                    {% for event in events_sign %}
                    <li>
                        <a href="/mobile/event/{{event.id}}" data-ajax="false">
                            <img src="/static/mobile/img/sign.jpeg"/>
                            <h3>
                                {{event.name}}
                            </h3>
                            <p>
                                {{event.dt_start.strftime("%m/%d %H:%M")}}
                                ~
                                {{event.dt_end.strftime("%m/%d %H:%M")}}
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <h2>未出勤活动</h2>
                <ul data-role="listview" data-inset="true">
                    {% for event in events_unsign %}
                    <li>
                        <a href="/mobile/event/{{event.id}}" data-ajax="false">
                            <img src="/static/mobile/img/sign.jpeg"/>
                            <h3>
                                {{event.name}}
                            </h3>
                            <p>
                                {{event.dt_start.strftime("%m/%d %H:%M")}}
                                ~
                                {{event.dt_end.strftime("%m/%d %H:%M")}}
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var ctx_rate = $("#canvas_rate");

        jsondata = '{{ jsondata|safe }}';
        jsondata = JSON.parse(jsondata);

        data_rate = {
            labels: ['出勤率', '出勤速度', '人脸通过率', '声紋通过率', '蓝牙通过率'],
            datasets: [
                {
                    data: [
                        jsondata.rate_sign_ava,
                        jsondata.rate_tdelta,
                        jsondata.rate_face,
                        jsondata.rate_voice,
                        jsondata.rate_bt
                    ],
                    label: "当前成员",
                    "fill": true,
                    "backgroundColor": "rgba(54, 162, 235, 0.2)",
                    "borderColor": "rgb(54, 162, 235)"
                }
            ]
        };

        var chart_rate = new Chart(ctx_rate,
            {
                type: 'radar',
                data: data_rate,
                options: {}
            });
    });
</script>

{% endblock %}