{% extends "mobile.base.html" %}

{% block head %}
<script src="/static/mobile/RecorderJS/recorder.js"></script>
<title>Biosign Mobile登录</title>
{% endblock %}


{% block content %}

<div data-role="main" class="ui-content">
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <input type="text" id="hint" value="请朗读并录制如下文本!" disabled>
        </div>
    </div>

    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <a href="#" id="snap" class="ui-btn ui-corner-all ui-shadow" data-ajax="false">按下录制/松开上传</a>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#snap").on("vmousedown", function () {
            nativeJS.startRecord();
        });

        $("#snap").on("vmouseup", function () {
            base64str = nativeJS.stopRecordAndGetBase64String();
            ajaxdata(base64str);
        });
    });

    function ajaxdata(voice) {
        console.log(voice);
        var csrftoken = "{{csrf_token()|safe}}";
        var data = {'voice': voice};
        $.ajax({
            type: 'POST',
            url: "/mobile/ajax/register/voice",
            data: data,
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                if (data.status_code == 200) {
                    timesleft = data.content.timesleft;
                    $("#hint").val("还剩" + timesleft + "次!");
                    if (timesleft <= 0) {
                        window.location.href = "/mobile/index";
                    }
                } else {
                    $("#hint").val("人脸识别失败,请上传清晰人脸!");
                }
            },
            error: function (xhr, type) {
            }
        });

    }
</script>

{% endblock %}





