{% extends "mobile.base.html" %}

{% block head %}
<title>Biosign Mobile首页</title>
{% endblock %}


{% block content %}


<div data-role="main" class="ui-content">
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <img src="/static/mobile/img/success.png" style="width: 100%;height: auto"/>
        </div>
        <div class="ui-block-a">
            <h1 style="text-align: center">签到成功</h1>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "/mobile/index";
        }, 2000);
    });
</script>

{% endblock %}