{% extends "mobile.base.html" %}

{% block head %}
<title>Biosign Mobile登录</title>
{% endblock %}


{% block content %}

<div data-role="main" class="ui-content">
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <form method="post">
                {{loginform.hidden_tag()}}
                <label for="email">邮箱:</label>
                <input type="email" name="email" id="email">
                <label for="password">密码:</label>
                <input type="password" name="password" id="password">
                <label for="remember_me">记住我:</label>
                <input type="checkbox" name="remember_me" id="remember_me">
                <input type="submit" class="ui-btn ui-corner-all ui-shadow" value="登录">
            </form>
            {% for message in get_flashed_messages() %}
            <p style="color: #F00;">{{message}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}